function Main.main 1
push constant 10
call Array.new 1
pop local 0
push constant 100
push local 0
push constant 8
add
pop pointer 1
pop that 0
push local 0
push constant 8
add
pop pointer 1
push that 0
return
