function Main.main 1
push constant 10
call Main.fib 1
pop local 0
function Main.fib 4
push constant 2
pop local 3
push constant 0
pop local 0
push constant 1
pop local 1
push argument 0
push constant 1
eq
if-goto IF_0
goto ENDIF_0
label IF_0
push constant 0
return
label ENDIF_0
label WHILE_1
push local 3
push argument 0
lt
not
if-goto END_WHILE_1
push local 0
push local 1
add
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push local 3
push constant 1
add
pop local 3
goto WHILE_1
label END_WHILE_1
push local 1
return
