function Main.main 1
push constant 10
call Main.test 1
pop local 0
function Main.test 1
push constant 5
call Array.new 1
pop local 0
push argument 0
push local 0
push constant 2
add
pop pointer 1
pop that 0
push local 0
push constant 2
add
pop pointer 1
push that 0
return
