function Math.init 0
push constant 128
call Array.new 1
pop static 0
push constant 1
push static 0
push constant 0
add
pop pointer 1
pop that 0
push constant 2
push static 0
push constant 4
add
pop pointer 1
pop that 0
push constant 4
push static 0
push constant 8
add
pop pointer 1
pop that 0
push constant 8
push static 0
push constant 12
add
pop pointer 1
pop that 0
push constant 16
push static 0
push constant 16
add
pop pointer 1
pop that 0
push constant 32
push static 0
push constant 20
add
pop pointer 1
pop that 0
push constant 64
push static 0
push constant 24
add
pop pointer 1
pop that 0
push constant 128
push static 0
push constant 28
add
pop pointer 1
pop that 0
push constant 256
push static 0
push constant 32
add
pop pointer 1
pop that 0
push constant 512
push static 0
push constant 36
add
pop pointer 1
pop that 0
push constant 1024
push static 0
push constant 40
add
pop pointer 1
pop that 0
push constant 2048
push static 0
push constant 44
add
pop pointer 1
pop that 0
push constant 4096
push static 0
push constant 48
add
pop pointer 1
pop that 0
push constant 8192
push static 0
push constant 52
add
pop pointer 1
pop that 0
push constant 16384
push static 0
push constant 56
add
pop pointer 1
pop that 0
push constant 16384
push constant 16384
add
push static 0
push constant 60
add
pop pointer 1
pop that 0
push static 0
push constant 60
add
pop pointer 1
push that 0
push static 0
push constant 60
add
pop pointer 1
push that 0
add
push static 0
push constant 64
add
pop pointer 1
pop that 0
push static 0
push constant 64
add
pop pointer 1
push that 0
push static 0
push constant 64
add
pop pointer 1
push that 0
add
push static 0
push constant 68
add
pop pointer 1
pop that 0
push static 0
push constant 68
add
pop pointer 1
push that 0
push static 0
push constant 68
add
pop pointer 1
push that 0
add
push static 0
push constant 72
add
pop pointer 1
pop that 0
push static 0
push constant 72
add
pop pointer 1
push that 0
push static 0
push constant 72
add
pop pointer 1
push that 0
add
push static 0
push constant 76
add
pop pointer 1
pop that 0
push static 0
push constant 76
add
pop pointer 1
push that 0
push static 0
push constant 76
add
pop pointer 1
push that 0
add
push static 0
push constant 80
add
pop pointer 1
pop that 0
push static 0
push constant 80
add
pop pointer 1
push that 0
push static 0
push constant 80
add
pop pointer 1
push that 0
add
push static 0
push constant 84
add
pop pointer 1
pop that 0
push static 0
push constant 84
add
pop pointer 1
push that 0
push static 0
push constant 84
add
pop pointer 1
push that 0
add
push static 0
push constant 88
add
pop pointer 1
pop that 0
push static 0
push constant 88
add
pop pointer 1
push that 0
push static 0
push constant 88
add
pop pointer 1
push that 0
add
push static 0
push constant 92
add
pop pointer 1
pop that 0
push static 0
push constant 92
add
pop pointer 1
push that 0
push static 0
push constant 92
add
pop pointer 1
push that 0
add
push static 0
push constant 96
add
pop pointer 1
pop that 0
push static 0
push constant 96
add
pop pointer 1
push that 0
push static 0
push constant 96
add
pop pointer 1
push that 0
add
push static 0
push constant 100
add
pop pointer 1
pop that 0
push static 0
push constant 100
add
pop pointer 1
push that 0
push static 0
push constant 100
add
pop pointer 1
push that 0
add
push static 0
push constant 104
add
pop pointer 1
pop that 0
push static 0
push constant 104
add
pop pointer 1
push that 0
push static 0
push constant 104
add
pop pointer 1
push that 0
add
push static 0
push constant 108
add
pop pointer 1
pop that 0
push static 0
push constant 108
add
pop pointer 1
push that 0
push static 0
push constant 108
add
pop pointer 1
push that 0
add
push static 0
push constant 112
add
pop pointer 1
pop that 0
push static 0
push constant 112
add
pop pointer 1
push that 0
push static 0
push constant 112
add
pop pointer 1
push that 0
add
push static 0
push constant 116
add
pop pointer 1
pop that 0
push static 0
push constant 116
add
pop pointer 1
push that 0
push static 0
push constant 116
add
pop pointer 1
push that 0
add
push static 0
push constant 120
add
pop pointer 1
pop that 0
push static 0
push constant 120
add
pop pointer 1
push that 0
push static 0
push constant 120
add
pop pointer 1
push that 0
add
push static 0
push constant 124
add
pop pointer 1
pop that 0
push constant 0
return
function Math.multiply 3
push constant 0
pop local 0
push argument 0
pop local 1
push constant 0
pop local 2
label WHILE_0
push local 2
push constant 124
lt
not
if-goto END_WHILE_0
push argument 1
push static 0
push local 2
add
pop pointer 1
push that 0
and
push constant 0
eq
not
if-goto IF_1
goto ENDIF_1
label IF_1
push local 0
push local 1
add
pop local 0
label ENDIF_1
push local 1
push local 1
add
pop local 1
push local 2
push constant 4
add
pop local 2
goto WHILE_0
label END_WHILE_0
push local 0
return
function Math.divide 3
push argument 0
push constant 0
lt
push argument 1
push constant 0
lt
eq
pop local 2
push argument 0
call Math.abs 1
pop argument 0
push argument 1
call Math.abs 1
pop argument 1
push argument 1
push argument 0
gt
if-goto IF_2
goto ENDIF_2
label IF_2
push constant 0
return
label ENDIF_2
push argument 0
push argument 1
push argument 1
add
call Math.divide 2
pop local 0
push argument 0
push constant 2
push local 0
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
push argument 1
lt
if-goto IF_3
push local 0
push local 0
add
push constant 1
add
pop local 1
goto ENDIF_3
label IF_3
push local 0
push local 0
add
pop local 1
label ENDIF_3
push local 2
if-goto IF_4
push local 1
neg
return
goto ENDIF_4
label IF_4
push local 1
return
label ENDIF_4
function Math.abs 0
push argument 0
push constant 0
lt
if-goto IF_5
goto ENDIF_5
label IF_5
push argument 0
neg
pop argument 0
label ENDIF_5
push argument 0
return
