function Sys.init 0
call Memory.init 0
pop temp 0
push constant 10
pop static 0
push constant 3000
pop static 2
call Memory.val 0
push static 2
push constant 20
add
pop pointer 1
pop that 0
push constant 10
call Memory.alloc 1
pop static 1
push constant 1
push static 1
push constant 4
add
pop pointer 1
pop that 0
push constant 2
push static 1
push constant 8
add
pop pointer 1
pop that 0
push constant 3
push static 1
push constant 12
add
pop pointer 1
pop that 0
push static 1
push static 2
push constant 4
add
pop pointer 1
pop that 0
call Memory.tval 0
push static 2
push constant 8
add
pop pointer 1
pop that 0
call Memory.bval 0
push static 2
push constant 12
add
pop pointer 1
pop that 0
call Memory.val 0
push static 2
push constant 16
add
pop pointer 1
pop that 0
call Memory.tval1 0
push static 2
push constant 24
add
pop pointer 1
pop that 0
push constant 3200
pop static 3
push static 1
push static 3
push constant 0
add
pop pointer 1
pop that 0
push static 1
push constant 2
add
pop pointer 1
push that 0
return
