function Math.init 0
push constant 31
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push static 0
add
push constant 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push static 0
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push static 0
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push static 0
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 32
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 36
push static 0
add
push constant 512
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 40
push static 0
add
push constant 1024
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 44
push static 0
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 48
push static 0
add
push constant 4096
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 52
push static 0
add
push constant 8192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 56
push static 0
add
push constant 16384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 60
push static 0
add
push constant 16384
push constant 16384
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 64
push static 0
add
push constant 60
push static 0
add
pop pointer 1
push that 0
push constant 60
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 68
push static 0
add
push constant 64
push static 0
add
pop pointer 1
push that 0
push constant 64
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 72
push static 0
add
push constant 68
push static 0
add
pop pointer 1
push that 0
push constant 68
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 76
push static 0
add
push constant 72
push static 0
add
pop pointer 1
push that 0
push constant 72
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 80
push static 0
add
push constant 76
push static 0
add
pop pointer 1
push that 0
push constant 76
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 84
push static 0
add
push constant 80
push static 0
add
pop pointer 1
push that 0
push constant 80
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 88
push static 0
add
push constant 84
push static 0
add
pop pointer 1
push that 0
push constant 84
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 92
push static 0
add
push constant 88
push static 0
add
pop pointer 1
push that 0
push constant 88
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 96
push static 0
add
push constant 92
push static 0
add
pop pointer 1
push that 0
push constant 92
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push static 0
add
push constant 96
push static 0
add
pop pointer 1
push that 0
push constant 96
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 104
push static 0
add
push constant 100
push static 0
add
pop pointer 1
push that 0
push constant 100
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 108
push static 0
add
push constant 104
push static 0
add
pop pointer 1
push that 0
push constant 104
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 112
push static 0
add
push constant 108
push static 0
add
pop pointer 1
push that 0
push constant 108
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 116
push static 0
add
push constant 112
push static 0
add
pop pointer 1
push that 0
push constant 112
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 120
push static 0
add
push constant 116
push static 0
add
pop pointer 1
push that 0
push constant 116
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Math.multiply 3
push constant 0
pop local 0
push argument 0
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 124
lt
not
if-goto WHILE_END0
push argument 1
push local 2
push static 0
add
pop pointer 1
push that 0
and
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
add
pop local 0
goto IF_END0
label IF_FALSE0
label IF_END0
push local 1
push local 1
add
pop local 1
push local 2
push constant 4
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Math.abs 0
push argument 0
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
neg
pop argument 0
goto IF_END1
label IF_FALSE1
label IF_END1
push argument 0
return
function Math.divide 3
push argument 1
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
return
goto IF_END2
label IF_FALSE2
label IF_END2
push argument 0
push constant 0
lt
push argument 1
push constant 0
lt
eq
not
pop local 1
push argument 0
call Math.abs 1
pop argument 0
push argument 1
call Math.abs 1
pop argument 1
push constant 0
pop local 0
push argument 1
push argument 0
gt
not
pop local 2
label WHILE_EXP1
push local 2
not
if-goto WHILE_END1
push argument 0
push argument 1
sub
pop argument 0
push local 0
push constant 1
add
pop local 0
push argument 1
push argument 0
gt
not
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
neg
pop local 0
goto IF_END3
label IF_FALSE3
label IF_END3
push local 0
return
function Math.max 0
push argument 0
push argument 1
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 0
return
goto IF_END4
label IF_FALSE4
label IF_END4
push argument 1
return
function Math.min 0
push argument 0
push argument 1
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 0
return
goto IF_END5
label IF_FALSE5
label IF_END5
push argument 1
return
function Math.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Math.twoToThe 0
push argument 0
push constant 4
call Math.multiply 2
pop argument 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return