function Main.main 3
push constant 60
call Array.new 1
pop local 1
push constant 5
call String.new 1
pop local 0
push local 0
push constant 97
call String.appendChar 2
push local 0
push constant 98
call String.appendChar 2
push local 0
push constant 99
call String.appendChar 2
push local 0
push constant 100
call String.appendChar 2
push local 0
push constant 101
call String.appendChar 2
pop local 0
push constant 0
push local 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 1
add
push local 0
call String.length 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 1
add
push local 0
push constant 2
call String.charAt 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
push constant 45
call String.setCharAt 3
pop temp 0
push constant 20
push local 1
add
push local 0
push constant 2
call String.charAt 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
call String.eraseLastChar 1
pop temp 0
push constant 24
push local 1
add
push local 0
call String.length 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
call String.new 1
pop local 2
push local 2
push constant 49
call String.appendChar 2
push local 2
push constant 50
call String.appendChar 2
push local 2
push constant 51
call String.appendChar 2
push local 2
push constant 52
call String.appendChar 2
push local 2
push constant 53
call String.appendChar 2
pop local 2
push constant 4
push local 1
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
return