function Main.main 18
push constant 67
pop local 12
push constant 76
pop local 11
push constant 70
pop local 14
push constant 81
pop local 15
push constant 69
pop local 13
push constant 83
pop local 16
push constant 72
pop local 17
push constant 1
call String.new 1
pop local 3
push local 3
push constant 32
call String.appendChar 2
pop temp 0
push local 3
pop local 3
push constant 9
call String.new 1
pop local 2
push local 2
push constant 100
call String.appendChar 2
pop temp 0
push local 2
push constant 97
call String.appendChar 2
pop temp 0
push local 2
push constant 118
call String.appendChar 2
pop temp 0
push local 2
push constant 105
call String.appendChar 2
pop temp 0
push local 2
push constant 110
call String.appendChar 2
pop temp 0
push local 2
push constant 99
call String.appendChar 2
pop temp 0
push local 2
push constant 105
call String.appendChar 2
pop temp 0
push local 2
push constant 36
call String.appendChar 2
pop temp 0
push local 2
push constant 32
call String.appendChar 2
pop temp 0
push local 2
pop local 2
push constant 7
call String.new 1
pop local 4
push local 4
push constant 105
call String.appendChar 2
pop temp 0
push local 4
push constant 110
call String.appendChar 2
pop temp 0
push local 4
push constant 118
call String.appendChar 2
pop temp 0
push local 4
push constant 97
call String.appendChar 2
pop temp 0
push local 4
push constant 108
call String.appendChar 2
pop temp 0
push local 4
push constant 105
call String.appendChar 2
pop temp 0
push local 4
push constant 100
call String.appendChar 2
pop temp 0
push local 4
pop local 4
push constant 0
pop local 0
push constant 1
pop local 1
push constant 6
call String.new 1
pop local 5
push local 5
push constant 32
call String.appendChar 2
pop temp 0
push local 5
push constant 102
call String.appendChar 2
pop temp 0
push local 5
push constant 105
call String.appendChar 2
pop temp 0
push local 5
push constant 98
call String.appendChar 2
pop temp 0
push local 5
push constant 111
call String.appendChar 2
pop temp 0
push local 5
push constant 32
call String.appendChar 2
pop temp 0
push local 5
pop local 5
push constant 11
call String.new 1
pop local 6
push local 6
push constant 32
call String.appendChar 2
pop temp 0
push local 6
push constant 115
call String.appendChar 2
pop temp 0
push local 6
push constant 110
call String.appendChar 2
pop temp 0
push local 6
push constant 97
call String.appendChar 2
pop temp 0
push local 6
push constant 107
call String.appendChar 2
pop temp 0
push local 6
push constant 101
call String.appendChar 2
pop temp 0
push local 6
push constant 103
call String.appendChar 2
pop temp 0
push local 6
push constant 97
call String.appendChar 2
pop temp 0
push local 6
push constant 109
call String.appendChar 2
pop temp 0
push local 6
push constant 101
call String.appendChar 2
pop temp 0
push local 6
push constant 32
call String.appendChar 2
pop temp 0
push local 6
pop local 6
push constant 7
call String.new 1
pop local 7
push local 7
push constant 32
call String.appendChar 2
pop temp 0
push local 7
push constant 113
call String.appendChar 2
pop temp 0
push local 7
push constant 115
call String.appendChar 2
pop temp 0
push local 7
push constant 111
call String.appendChar 2
pop temp 0
push local 7
push constant 114
call String.appendChar 2
pop temp 0
push local 7
push constant 116
call String.appendChar 2
pop temp 0
push local 7
push constant 32
call String.appendChar 2
pop temp 0
push local 7
pop local 7
push constant 9
call String.new 1
pop local 8
push local 8
push constant 32
call String.appendChar 2
pop temp 0
push local 8
push constant 104
call String.appendChar 2
pop temp 0
push local 8
push constant 97
call String.appendChar 2
pop temp 0
push local 8
push constant 110
call String.appendChar 2
pop temp 0
push local 8
push constant 103
call String.appendChar 2
pop temp 0
push local 8
push constant 109
call String.appendChar 2
pop temp 0
push local 8
push constant 97
call String.appendChar 2
pop temp 0
push local 8
push constant 110
call String.appendChar 2
pop temp 0
push local 8
push constant 32
call String.appendChar 2
pop temp 0
push local 8
pop local 8
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 2
call Keyboard.readLine 1
pop local 9
push local 9
push constant 0
call String.charAt 2
pop local 10
push local 10
push local 11
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Output.println 0
pop temp 0
push local 5
call Output.printString 1
pop temp 0
push local 6
call Output.printString 1
pop temp 0
push local 7
call Output.printString 1
pop temp 0
push local 8
call Output.printString 1
pop temp 0
goto IF_END0
label IF_FALSE0
push local 10
push local 12
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
goto IF_END1
label IF_FALSE1
push local 10
push local 13
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop local 0
goto IF_END2
label IF_FALSE2
push local 10
push local 14
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call Fibonacci.main 0
pop temp 0
goto IF_END3
label IF_FALSE3
push local 10
push local 17
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
call Hangman.main 0
pop temp 0
goto IF_END4
label IF_FALSE4
label IF_END4
label IF_END3
label IF_END2
label IF_END1
label IF_END0
call Output.println 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return