function QuickSort.calculate_quick_sort 3
push constant 29
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 1
push local 1
call Array.new 1
pop local 0
push constant 33
call String.new 1
push constant 69
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
pop local 2
label WHILE_0
push local 2
push local 1
lt
not
if-goto END_WHILE_0
push constant 0
call String.new 1
call Keyboard.readInt 1
push local 0
push local 2
push constant 4
call Math.multiply 2
add
pop pointer 1
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_0
label END_WHILE_0
push local 0
push constant 0
push local 1
push constant 1
sub
call QuickSort.sort 3
pop temp 0
push constant 21
call String.new 1
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop local 2
label WHILE_1
push local 2
push local 1
lt
not
if-goto END_WHILE_1
push local 0
push local 2
push constant 4
call Math.multiply 2
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push local 2
push constant 1
add
pop local 2
push local 2
push local 1
lt
if-goto IF_2
push constant 2
call String.new 1
push constant 92
call String.appendChar 2
push constant 110
call String.appendChar 2
call Output.printString 1
pop temp 0
goto ENDIF_2
label IF_2
push constant 2
call String.new 1
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
label ENDIF_2
goto WHILE_1
label END_WHILE_1
push constant 0
return
function QuickSort.sort 1
push argument 1
push argument 2
lt
if-goto IF_3
goto ENDIF_3
label IF_3
push argument 0
push argument 1
push argument 2
call QuickSort.partition 3
pop local 0
push argument 0
push argument 1
push local 0
push constant 1
sub
call QuickSort.sort 3
pop temp 0
push argument 0
push local 0
push constant 1
add
push argument 2
call QuickSort.sort 3
pop temp 0
label ENDIF_3
push constant 0
return
function QuickSort.partition 4
push argument 0
push argument 2
push constant 4
call Math.multiply 2
add
pop pointer 1
push that 0
pop local 0
push argument 1
push constant 1
sub
pop local 1
push argument 1
pop local 2
label WHILE_4
push local 2
push argument 2
lt
not
if-goto END_WHILE_4
push argument 0
push local 2
push constant 4
call Math.multiply 2
add
pop pointer 1
push that 0
push local 0
lt
if-goto IF_5
goto ENDIF_5
label IF_5
push local 1
push constant 1
add
pop local 1
push argument 0
push local 1
push constant 4
call Math.multiply 2
add
pop pointer 1
push that 0
pop local 3
push argument 0
push local 2
push constant 4
call Math.multiply 2
add
pop pointer 1
push that 0
push argument 0
push local 1
push constant 4
call Math.multiply 2
add
pop pointer 1
pop that 0
push local 3
push argument 0
push local 2
push constant 4
call Math.multiply 2
add
pop pointer 1
pop that 0
label ENDIF_5
push local 2
push constant 1
add
pop local 2
goto WHILE_4
label END_WHILE_4
push argument 0
push local 1
push constant 1
add
push constant 4
call Math.multiply 2
add
pop pointer 1
push that 0
pop local 3
push argument 0
push argument 2
push constant 4
call Math.multiply 2
add
pop pointer 1
push that 0
push argument 0
push local 1
push constant 1
add
push constant 4
call Math.multiply 2
add
pop pointer 1
pop that 0
push local 3
push argument 0
push argument 2
push constant 4
call Math.multiply 2
add
pop pointer 1
pop that 0
push local 1
push constant 1
add
return
function QuickSort.main 2
push constant 1
pop local 0
call QuickSort.calculate_quick_sort 0
pop temp 0
label WHILE_6
push local 0
push constant 1
eq
not
if-goto END_WHILE_6
call Output.println 0
pop temp 0
push constant 41
call String.new 1
push constant 68
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 63
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 1
push local 1
push constant 1
eq
if-goto IF_7
push constant 0
pop local 0
push constant 14
call String.new 1
push constant 80
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
goto ENDIF_7
label IF_7
call QuickSort.calculate_quick_sort 0
pop temp 0
label ENDIF_7
goto WHILE_6
label END_WHILE_6
push constant 0
return
