function Main.fib 4
push constant 0
pop local 0
push constant 1
pop local 1
push constant 2
pop local 3
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
goto IF_END0
label IF_FALSE0
label IF_END0
label WHILE_EXP0
push local 3
push argument 0
lt
not
if-goto WHILE_END0
push local 0
push local 1
add
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 3
push argument 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
add
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push local 3
push constant 1
add
pop local 3
goto IF_END1
label IF_FALSE1
label IF_END1
push local 1
return
function Main.main 1
push constant 10
call Main.fib 1
pop local 0