function Memory.main 4
push constant 100
pop local 2
push constant 1
pop local 3
push constant 1
pop local 0
push constant 3
pop local 1
label WHILE_EXP0
push local 3
push local 2
gt
not
not
if-goto WHILE_END0
push local 3
push constant 2
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 3
return
